body{
  display: flex;
  justify-content: center;
}

.calculator{
    width: 429px;
    height: 500px;
    top: 100px;
    position: relative;
    background-color: rgb(34, 33, 33);
    border-radius: 3px;
    display: flex;
}

.screen{
  border-radius: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  background-color: none;
  color: white;
  width: 335px;
  font-size: 50px;
  overflow-x:auto;
  text-align: right;
  white-space:nowrap; 
}


.operations{
  width: 310px;
  height: 50px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
  color: rgb(174, 172, 172);

}

#equal {
  background-color: rgb(253, 180, 253); 
  color: black;
  transition: background-color 0.3s; 
}
#equal:hover {
  background-color: rgb(223, 166, 223); 
}

#equal:active {
  background-color: rgb(187, 151, 187); 
}

.button:hover{
  background-color: rgb(70, 72, 71);
}

.button:active{
  background-color: rgb(40, 40, 40);

}

.button{
  margin: 2px;
  opacity: none;
  color: white;
  background-color: rgb(48, 50, 48);
  border: solid;
  border-color: rgb(48, 50, 48);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  border-radius: 3px;
  border: none;
  width: 100px;
  height: 50px;
  position: absolute;
}

.num:hover{
  background-color: rgb(48, 50, 48);
  border: solid;
  border-color: rgb(48, 50, 48);

}

.num:active{
  background-color: rgb(43, 42, 42);

}

.num{
  margin: 2px;
  opacity: none;
  color: white;
  background-color: rgb(70, 72, 71);
  border: solid;
  border-color: rgb(70, 72, 71);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  border-radius: 3px;
  border: none;
  width: 100px;
  height: 50px;
  position: absolute;
}

.sign:hover{
  background-color: rgb(48, 50, 48);
  border: solid;
  border-color: rgb(48, 50, 48);

}

.sign:active{
  background-color: rgb(40, 40, 40);

}

.sign{
    opacity: none;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin: 2px;
    border: solid;
    border-radius: 3px;
    color: white;
    width: 100px;
    background-color: rgb(70, 70, 70);
    border-color: rgb(70, 70, 70);
    height: 50px;
    border: none;
}

.screen{
    left: 2px;
    top: 100px;
    position: absolute;
}

.operation {
    right: 20px;
    top: 50px;
    position: absolute;
}

.fil1{
    top: 439px;
    position: absolute;
}

.fil2{
    top: 385px;
    position: absolute;
}

.fil3{
    top: 331px;
    position: absolute;
}

.fil4{
    top: 277px;
    position: absolute;
}

.fil5{
    top: 224px;
    position: absolute;
}

.fil6{
    top: 170px;
    position: absolute;
}

.col1{
    left: 320px;
}

.col2{
  left: 215px;
}

.col3{
  left: 110px;
}

.col4{
  left: 5px;
}